@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Colors */
$purple: #6B63B5;
$white: #FFFF;
$purple-transparent: rgba(107, 99, 181, 0.6);
$black-transparent: rgba(0, 0, 0, 0.6);
$gray:#999999;
$light-gray:#e9e9e9;

/* Tipography */
$fontleters: 'Open Sans', sans-serif;
